<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block atm_poll_title %}ATM Poll Bundle{% endblock atm_poll_title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="Mature" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/fonts/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/fonts/quicksand.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/fonts/leaguespartan.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmpoll/plugins/bootstrap/modal/modal.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link href="{{ asset('bundles/atmpoll/css/css.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/atmpoll/js/jquery-3.4.1.min.js') }}"></script>
    {% block atm_poll_stylesheets %}{% endblock atm_poll_stylesheets %}
    {% block atm_poll_headingJS %}{% endblock atm_poll_headingJS %}
</head>
<body class="atm_poll">
    <div class="inner body">
        {% block atm_poll_menu %}
            <div class="menu">
                <ul>
                    <li><a href="{{ path('atm_poll_create') }}">Create Poll</a></li>
                    <li><a href="{{ path('atm_poll_list') }}">Poll List</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        {% endblock atm_poll_menu %}
        {% block atm_poll_flash_messages %}{% endblock atm_poll_flash_messages %}
        {% block atm_poll_content %}{% endblock atm_poll_content %}
    </div>
    {% block atm_poll_popups %}{% endblock atm_poll_popups %}
    {% block atm_poll_javascripts %}{% endblock atm_poll_javascripts %}
</body>
</html>