{% extends 'ATMPollBundle:Poll:base.html.twig' %}

{% block atm_poll_content %}
    <form action="{{ path('atm_poll_add_item',{ 'pollId':poll.id }) }}" method="post" id="frmItems" enctype="multipart/form-data">
        <h1>Add items to poll: {{ poll.name | title }}</h1>
        <a class="btnAdd but blue" style="float: left;">Add item</a>
        <div class="clear"></div>
        <div class="items_container">
            <div class="item">
                <input type="text" name="itemName[]" placeholder="Name" required>
                <img src="{{ asset('bundles/atmpoll/images/image-placeholder.png') }}" class="imgPreview">
                <input type="file" name="itemImage[]" class="flImage" required>
                <a onclick="$(this).parent().remove()" class="but red">Delete Item</a>
            </div>
        </div>
        <div class="clear"></div>
        <a class="btnAdd but blue" style="float: left;margin-top: 10px;">Add item</a>
        <div class="clear"></div>
        <input type="submit" class="but blue" value="Save">
    </form>
    {% if poll.items | length > 0 %}
    <div class="saved_items_container">
        <h1>Items in {{ poll.name }}</h1>
        <div class="poll_items">
            {% for item in poll.items %}
                <div class="item">
                    <span title="Votes" style="position: absolute;top: 60px;right: 20px;width: 20px;background-color: black;height: 20px;color: white;line-height: 20px;border-radius: 20px;">{{ ATMPollItemTotalVotes(item.id) }}</span>
                    <input type="text" placeholder="Name" value="{{ item.name }}">
                    <img src="{{ asset(item.image) }}" class="imgPreview">
                    <a class="but blue editItem" data-id="{{ item.id }}" data-name="{{ item.name }}" data-image="{{ asset(item.image) }}">Edit Item</a>
                    <a class="but red delItem" data-id="{{ item.id }}">Delete Item</a>
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
    {% endif %}
    <div class="item_element" style="display: none">
        <input type="text" name="itemName[]" placeholder="Name" required>
        <img src="{{ asset('bundles/atmpoll/images/image-placeholder.png') }}" class="imgPreview">
        <input type="file" name="itemImage[]" class="flImage" required>
        <a onclick="$(this).parent().remove()" class="but red">Delete Item</a>
    </div>
{% endblock atm_poll_content %}

{% block atm_poll_popups %}
    <div class="modal fade" id="popEditItem" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Edit item</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>Clicking SAVE the page will be reloaded.</p>
                    <div class="clear"></div>
                    <form action="" method="post" enctype="multipart/form-data" id="frmEditItem">
                        <input type="text" name="itemName" id="popItemName" style="margin-bottom: 10px;">
                        <img src="" id="popItemImage">
                        <input type="file" name="itemImage" id="editImage">
                        <input type="submit" value="Save" class="but blue">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="popDeleteItem" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Delete item</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom: 15px;">This action will delete the votes as well, are you sure that you want to delete this item?</p>
                    <a class="but blue" onclick="$('#popDeleteItem').modal('hide');">Close</a>
                    <a class="but red" id="popDelItem" style="float: right;">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock atm_poll_popups %}

{% block atm_poll_javascripts %}
    <script src="{{ asset('bundles/atmpoll/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmpoll/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script>
        $('.btnAdd').click(function(e){
            var clone = $('.item_element').clone();
            clone.removeClass('item_element').addClass('item').show();
            $('.items_container').append(clone);
        });

        $('.items_container').on('change','.flImage',function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                currentInput.siblings('.imgPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $('.editItem').click(function(){
            var itemId = $(this).attr('data-id');
            var name = $(this).attr('data-name');
            var image = $(this).attr('data-image');
            $('#popItemName').val(name);
            $('#popItemImage').attr('src',image);
            $('#frmEditItem').attr('action',Routing.generate('atm_poll_edit_item',{ 'itemId':itemId }));

            $('#popEditItem').modal('show');
        });

        $('#editImage').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#popItemImage').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $('.delItem').click(function(){
            var itemId = $(this).attr('data-id');
            $('#popDelItem').attr('href',Routing.generate('atm_poll_delete_item',{ 'itemId':itemId }));
            $('#popDeleteItem').modal('show');
        });
    </script>
{% endblock atm_poll_javascripts %}