<script src="{{ asset('bundles/atmpoll/plugins/confetti/confetti.js') }}"></script>
<div class="poll_detail">
    <canvas id="canvas" style="position: fixed;top:0;left:0"></canvas>
    <h1>{{ poll.name | title }}</h1>
    <ul>
    {% for item in items %}
        {% include 'ATMPollBundle:Poll/item:pollItem.html.twig' with { 'item':item,'poll':poll } %}
    {% endfor %}
    </ul>
    <button id="confetti_start" style="display: none"></button>
    <button id="confetti_stop" style="display: none"></button>
</div>

<script>
    $('.btnVote').click(function(e){
        e.preventDefault();
        var btn = $(this);
        var id = btn.attr('data-id');

        $.ajax({
            url: Routing.generate('atm_poll_item_vote', { 'itemId':id, 'pollId':{{ poll.id }} }),
            type: 'post',
            dataType: 'json',
            success: function(data){
                if(data.code == 'ok'){
                    btn.parent().parent().find('.numVotes').html(data.votes);
                    $('#confetti_start').click();
                    setTimeout(function(){
                        $('#confetti_stop').click();
                    }, 2000);
                }
            }
        });
    });

    $(document).ready(function(){
        $('.progress-bar').each(function(){
            var width = $(this).attr('data-width');
            $(this).animate({
                width: width
            },1500);
        })
    });
</script>