{% set itemVotes = ATMPollItemTotalVotes(item.id) %}

{% if totalPollVotes > 0%}
    {% set widthPercentage = (itemVotes * 100) / totalPollVotes %}
{% else %}
    {% set widthPercentage = 0 %}
{% endif %}
<li style="margin-bottom: 10px;">
    <div class="">
        <img src="{{ asset(item.image) }}" style="width: 25%;float: none;"><br>
        <span>{{ item.name }}</span><br>
        <a class="btnVote" data-id="{{ item.id }}" style="margin-left: 50px;float:none;position: relative;z-index: 100">Vote</a>
    </div>
    <div class="progress-bar" data-width="{{ widthPercentage * 5 }}" style="background-color: red;height: 26px;float: left;width:0;max-width: 100%;">
        <span class="numVotes" style="width: 100%;text-align: center;display: inline-block;">{{ itemVotes }}</span>
    </div>
</li>